.container {
  width: 50%;
}

.content {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 1.3rem;
  margin: 0;
}

.title {
  font-size: 2rem;
  margin: 1rem;
  font-weight: 700;
}

.detail {
  margin: 1rem;
  text-align: justify;
}
